<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmalltech.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.jmalltech.entity.Product">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="clientId" column="client_id" jdbcType="INTEGER"/>
            <result property="sku" column="sku" jdbcType="VARCHAR"/>
            <result property="currency" column="currency" jdbcType="VARCHAR"/>
            <result property="sellingPrice" column="selling_price" jdbcType="NUMERIC"/>
            <result property="shortDescription" column="short_description" jdbcType="VARCHAR"/>
            <result property="createdById" column="created_by_id" jdbcType="BIGINT"/>
            <result property="updatedById" column="updated_by_id" jdbcType="BIGINT"/>
            <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
            <result property="updatedDate" column="updated_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,client_id,
        sku,currency,selling_price,
        short_description,created_by_id,
        updated_by_id,created_date,updated_date
    </sql>

    <select id="selectProductsByClientId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM mwms_product
        WHERE client_id = #{clientId}
        ORDER BY id ASC
    </select>
</mapper>
